:root {
  --color-main: #FFFFFF;
  --color-background: #FF0000;

  --border: 1px solid var(--color-main);
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.marquee3k p {
  color: var(--color-main);
  margin: 0;
}

#container {
  width: 100%;
}

#header {
  width: 100vw;
  height: 45px;
  position: fixed;
  top: 0px;
  background-color: var(--color-background);
  border-bottom: var(--border);
}

.marquee3k {
  padding-top: 8px;
}

.marquee3k__copy {
  padding-right: 30px;
}

a {
  color: var(--color-main);
}

a:visited {
  color: var(--color-main);
  cursor: alias;
}

audio {
  margin-bottom: 20px;
}

.title {
  float: right;
  color: var(--color-main);
}

.title p {
  padding: 0px;
  margin: 0px;
  padding: 20px;
}

#player {
  padding: 5px 0px 0px 20px; 
}

#sections {
  position: fixed;
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(2, 48vh);
  margin-top: 45px;
}

.section {
  vertical-align: top;
  padding: 20px;
  position: relative;
  overflow: scroll;
}

.top {
  border-bottom: var(--border);
}

table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-main);
  background-color: var(--color-background);
}

#schedule table, th, td {
  border: var(--border)
}

/* #archive td:hover {
  background-color: white;
  color: #0011CD;
} */

/* #archive td:hover .archive-link p {
  color: #0011CD;
} */

#schedule table {
  bottom: 20
}

#schedule thead {
  background-color: var(--color-background);
  color: var(--color-main);
}

th {
  font-weight: normal;
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
  min-width:  6rem;
}

#about, #archive {
  grid-column: 2;
}

#schedule {
  /* overflow: scroll; */
}

#schedule, #chat {
  border-right: var(--border);
  grid-column: 1;
}

#schedule, #about {
  grid-row: 1;
}


#chat, #archive {
  grid-row: 2;
}

#splash-container {
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: fixed;
}

#about p, ul {
  color: var(--color-main);
  margin: 0px;
}

#archive {
  overflow: scroll;
}

.ul-reset {
  padding-left: 0px;
}
.ul-reset li {
  list-style: none;
}

.buttons li {
  margin: 20px 0;
}

.button {
  border: var(--border);
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: var(--color-background);
}

.button:hover {
  background-color: var(--color-main);
  color: var(--color-background);
}

.archive-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.archive-link p {
  margin: 0;
}

@media all and (max-width: 850px) {
  body {
    background-color: var(--color-background);
  }

  #sections {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: relative;
  }

  .letters {
    display: none;
  }

  audio {
    width: 100%;
  }

  .section {
    display: inline-block;
  }

  #schedule {
    grid-row: 1;
    background-color: var(--color-background);
    border-top: var(--border);
    border-right: 0px;
  }

  #about {
    grid-row: 2;
    background-color: var(--color-background);
  }

  #chat {
    border-right: 0px;
  }

  #archive {
    grid-row: 3;
    background-color: var(--color-background);
  }

  #about, #archive {
    grid-column: 1;
  }
}
